/* Your styles go here */

#root{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.group-btn{
  display: flex;
  justify-content: center;
}

.del-btn{
  background-image: url("img/remove-s.jpg");
  background-size: cover;
  border: 0;
  height: 15px;
  width: 15px;
}
