@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Cantarell");
body {
  margin: 0px;
  font-family: "Roboto", "Ubuntu", "Cantarell", Helvetica, sans-serif;
  background: white; }
  body header {
    height: 100vh;
    background: url("../img/header_background_v1.jpg") no-repeat;
    background-size: cover; }
    body header .top-wrapper {
      display: flex;
      justify-content: space-between; }
      body header .top-wrapper .logo img {
        width: 40%; }
      body header .top-wrapper nav {
        padding-top: 10px; }
        body header .top-wrapper nav a {
          font-size: 12pt;
          text-decoration: none;
          text-transform: uppercase;
          color: #ececec;
          border-left: 2px solid grey;
          padding: 15px 100px;
          font-weight: bold; }
          body header .top-wrapper nav a:first-child {
            border-left: 0px; }
    body header section {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center; }
      body header section .btn-top {
        font-size: 10pt;
        padding: 15px 70px;
        text-decoration: none;
        background-color: #01acac;
        color: white;
        text-transform: uppercase; }
      body header section h1 {
        color: #ececec;
        text-transform: uppercase;
        font-family: Roboto;
        margin-bottom: 25px; }
  body main {
    margin-left: auto;
    margin-right: auto;
    width: 63%; }
    body main .toolbar {
      padding: 15px; }
      body main .toolbar input {
        height: 30px;
        float: right;
        background: white;
        border: 1px solid #607d8b; }
    body main .post-list h1 {
      padding-top: 30px;
      margin: 0px;
      text-align: right;
      text-transform: uppercase;
      color: #010f16; }
    body main .post-list article {
      display: flex;
      padding: 10px;
      background: #efefef;
      margin-bottom: 15px; }
      body main .post-list article img {
        width: 30%;
        height: 40%; }
      body main .post-list article .post {
        padding: 10px; }
        body main .post-list article .post .post-description {
          font-size: 8pt;
          padding-bottom: 10px;
          color: red;
          border-bottom: 1px solid #607d8b; }
        body main .post-list article .post h3 {
          margin-top: 5px;
          margin-bottom: 0px;
          text-transform: uppercase;
          color: #0097a7; }
        body main .post-list article .post p {
          margin-top: 0px;
          margin-bottom: 15px;
          font-size: 10pt;
          line-height: 150%;
          color: #010f16; }
      body main .post-list article .btn {
        padding: 10px 70px;
        color: white;
        background: #01acac;
        text-transform: uppercase;
        border: 0px;
        float: right;
        margin-right: 10px; }
    body main .about {
      width: 95%;
      margin-left: auto;
      margin-right: auto; }
      body main .about h1 {
        margin-bottom: 0px;
        margin-top: 40px;
        text-align: right;
        text-transform: uppercase;
        color: #010f16; }
      body main .about p {
        font-size: 10pt;
        line-height: 150%;
        margin-bottom: 20px;
        color: #010f16; }
        body main .about p:first-of-type {
          margin-top: 0px; }
      body main .about img {
        max-width: 100%; }
    body main .contact-form h1 {
      text-align: right;
      margin: 0;
      margin-top: 50px;
      color: #010f16; }
    body main .contact-form h4 {
      text-align: right;
      margin: 0;
      margin-bottom: 20px;
      text-transform: uppercase;
      color: #010f16; }
    body main .contact-form p {
      text-align: right;
      font-family: "Roboto", "Ubuntu", "Cantarell", Helvetica, sans-serif;
      font-size: 10pt;
      margin-bottom: 3px;
      color: #0097a7; }
    body main .contact-form .flex-item {
      display: flex;
      justify-content: space-between; }
      body main .contact-form .flex-item .row-1-inp {
        width: 49%; }
        body main .contact-form .flex-item .row-1-inp input {
          height: 45px;
          width: 100%;
          box-sizing: border-box;
          background: white;
          border: 1px solid #607d8b; }
      body main .contact-form .flex-item p::after {
        content: ' *'; }
    body main .contact-form .text-inp {
      width: 100%; }
      body main .contact-form .text-inp textarea {
        box-sizing: border-box;
        width: inherit;
        background: white;
        border: 1px solid #607d8b; }
    body main .contact-form button {
      margin-top: 10px;
      padding: 10px 70px;
      color: white;
      background: #01acac;
      text-transform: uppercase;
      border: 0px;
      float: right; }
    body main .contact-form .clearfix {
      clear: both; }
  body footer {
    margin-top: 20px;
    font-size: 10pt;
    color: #010f16; }
